<html>
	
	<body>
		
		<center>
            <form name="signupForm" ng-submit="showmodal(add)" nonvalidate="">

            <div class="card row-70 transparent2">
                <div class="item item-divider">
                    Patients' Need Details
                </div>
                    <div>
                        <label class="item-input-wrapper">
                        <textarea class="fontcentury" style="width:100%; height:70%; padding:2%;" type="text" placeholder=" please Information about patients' need .." ng-model="add.did" required></textarea>
                        </label>
                    </div>
            </div>
            <div class="row">
			  <div class="col"><button class="button button-small button-balanced" type="submit">Job Done</button></div>
			  <div class="col-30"></div>
			  <div class="col"><button class="button button-small button-assertive" type="submit">Cancel Accept</button></div>
			</div>
			
            </form>
        </center>



	</body>


</html>