<ion-view class="bg">
    <ion-content class="has-footer">
        <br/><br/>
        <center>
            <div class="list card transparent">
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-edit"></i>
                    Shellamae Bailio
                </a>
            </div>
            <div class="list card transparent">
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-android-remove-circle"></i>
                    Deactivate Account
                </a>
            </div>
            <div class="row transparent2">
                <div class="col-20"><br/>
                    <button ui-sref="addpatient1" class="button button-energized icon ion-plus-round"></button>
                </div>
                <div class="list card col-75">
                        <div class="item item-divider">
                            My Patients
                        </div>
                        <a href="#" class="item">
                            Killian Jones
                        </a>

                        <a href="#" class="item">
                            Emma Swan
                        </a>

                        <a href="#" class="item">
                            Henry Mills
                        </a>

                        <a href="#" class="item">
                            Regina Mills
                        </a>

                </div>
            </div>
        </center>
    </ion-content>
    <div class="tabs tabs-icon-only">
        
        <a ui-sref="admin_setting" class="tab-item nottransparent1 fontcentury">
            <i class="icon ion-settings"></i>
        </a>
        <a ui-sref="login" class="tab-item nottransparent1 fontcentury">
            <i class="icon ion-log-out"></i>
        </a>
    </div>
</ion-view>