
<html>

<body>

	 <form name="signupForm" ng-submit="add_patient(add)" nonvalidate="">


            <div class="card row-70" ng-repeat="a in account">
                <div class="item item-divider">
                    Update Profile
                </div>

                <div class="item item-text-wrap">
                    <div>
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="Firstname" value="{{a.fname}}"  ng-model="add.fname">
                            </label>
                        </div>
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="Middlename" ng-model="add.lname">
                            </label>
                        </div>
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="LastName" ng-model="add.rid">
                            </label>
                        </div>
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="Gender" ng-model="add.bid">
                            </label>
                        </div>
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="email" ng-model="add.did">
                            </label>
                        </div>
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="contact#" ng-model="add.did">
                            </label>
                        </div>
                          <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="Address" ng-model="add.did">
                            </label>
                        </div>
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="Username" ng-model="add.did">
                            </label>
                        </div>
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="Password" ng-model="add.did">
                            </label>
                        </div>
                    </div>
                </div>
                 <button class="button button-balanced transparent2" type="submit">Submit</button>
            </div>
           
            </form>
</body>
</html>